@import "tailwindcss";
@import "devicon/devicon.min.css";

body {
    background-color: #18181b; /* Replace with your dark color */
    color: #f1f5f9;            /* Replace with your light color */
    font-family: 'Inter', sans-serif;
}

.hexagon-wrapper {
  background: #e5e7eb; /* light gray */
  clip-path: polygon(
    25% 5%, 75% 5%, 100% 50%,
    75% 95%, 25% 95%, 0% 50%
  );
  padding: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/**experinece section*/
.resume-box {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-top: 15px;
}

.resume-row {
    padding: 35px;
}

.row {
    display: flex;
    flex-wrap: -15px;
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-9 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.rb-right {
    text-align: right;
}

.rb-left{
    text-align: left;
    max-width: 100px;
}

.resume-row .rb-time {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background: #2fbf71;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    top: 0;
    right: 0;
}