@import "tailwindcss";

body {
    background-color: #18181b; /* Replace with your dark color */
    color: #f1f5f9;            /* Replace with your light color */
    font-family: 'Inter', sans-serif;
}
